h6 {
    display: inline-block;
}

@media (min-width: 1200px) {
    .conteneur1 {
        max-width: 95%;
        padding-left: 5%;
    }
}

.col-sm {
    margin-top: 30px;
    margin-bottom: 10px;
}

.imageTitre1 {
    margin-right: 4%;
    margin-top: 4%;
    width: 100px;
    height: 100px;
}

.card {
    width: 18rem;
}

.flex {
    display: flex;
}

.card-link {
    margin-right: 25px;
}

.card {
    margin-bottom: 8%;
}

.badge {
    margin-left: 5px;
}

#filter-input {
    margin-left: 40%;
}

.colonness {
    justify-content: center;
}